/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
.debug {
    border: 1px solid red;
    height: 20px;
}
/*general*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-negative-color);
    color: var(--color-main-color);
}
:root {
    --color-section-color: #9792e4;
    --color-accent-color: #0084fd;
    --color-contrast-color: #b5ddff;
    --color-accent-color-secondary: #fdc15f;
    --color-footer-color: #333333;
    --color-main-color: #000000;
    --color-negative-color: #ffffff;
}
img{
    width: 100%;

}
main{
    margin-top: 120px;
}
/*utilities*/
    /*texts*/
    .center-txt{
        text-align: center;
    }
    .blue-txt{
        color: var(--color-accent-color);
    }
    .purple-txt{
        color: var(--color-section-color);
    }
    /*dimensions*/
    .size-pic{
        font-size: 80px;
    }
    /*utility flex*/
.display-f{
    display: flex;
}
.align-y{
    align-items: center;
}
.between{
    justify-content: space-between;
}
/*containers*/
.nav-container{
    width: 100%;
    margin: 0 auto;
    height: 75px;
}
/*header*/
nav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--color-accent-color);
    z-index: 999;
}
.hamburger{
    color: white;
}
.hamburger-list{
    display: none;
}
.space-pad{
    padding: 12px;
}
/*main*/
.card{
    margin: 25px;
    padding: 25px;
    padding-bottom: 0;
    border-radius: 30px;
    background-color: var(--color-contrast-color);
}
.card .img-demo img{
    vertical-align: bottom;
}
.plan{
    padding: 60px;
    background-color: var(--color-section-color);
}
.plan-content{
    color: var(--color-negative-color);
}
.plan-card{
    margin: 25px;
    padding: 25px;
    border-radius: 50px;
    background-color: var(--color-negative-color);
}
.intro h2{
    color: var(--color-section-color);
}
.intro{
    margin: 25px;
    padding: 25px;
}
.partner-card{
    margin: 25px;
    padding: 25px;
    border-radius: 30px;
    background-color: var(--color-section-color);
}
.img-partner{
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}
.img-partner img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.description{
    color: var(--color-negative-color);
}
#feautures{
    padding-bottom: 30px;
    background-color: var(--color-section-color);
}
.feauture-card{
    background-color: var(--color-negative-color);
    margin: 25px;
    padding: 25px;
    border-radius: 20px;
}
.container-us{
    margin: 25px;
    padding: 25px;
}
.i-relative{
    position: relative;
    top: 0;
    right: 0;
    color: var(--color-section-color);
}
.
